---
import SingUp from '../components/SingUp.astro'; // Importa el componente del formulario
---

<html>
  <head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<!-- Fuentes de Google -->
		<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?display=swap&family=Lexend:wght@400;500;700;900&family=Noto+Sans:wght@400;500;700;900"
		/>
		<link rel="stylesheet" href="src/styles/global.css">
    <title>Sing up</title>
  </head>
  <body >
      <!-- Aquí se renderiza el formulario -->
       <SingUp/>
  </body>
</html>