---
// Este archivo se encargará del diseño del formulario de inicio de sesión
---
<div class="flex min-h-screen flex-col items-center justify-center bg-slate-50 font-['Lexend','Noto Sans',sans-serif]">
    <div class="w-full max-w-md px-6">
      <div class="flex items-center justify-center bg-slate-50 p-4 pb-2">
      </div>
      <h3 class="pt-5 pb-2 text-center text-2xl font-bold text-[#0d141c]">Registrarse</h3>
      <form class="flex flex-col gap-4">
        <label for="name" class="flex flex-col">Nombre
          <input
            id="name"
            type="text"
            placeholder="Nombre"
            required
            class="form-input w-full rounded-xl bg-[#e7edf4] p-4 text-base text-[#0d141c] placeholder:text-[#49719c] focus:outline-none focus:ring-0"
          />
        </label>
        <label for="mail" class="flex flex-col"> Correo Electrónico
          <input
            id="mail"
            type="email"
            placeholder="Correo Electrónico"
            required
            class="form-input w-full rounded-xl bg-[#e7edf4] p-4 text-base text-[#0d141c] placeholder:text-[#49719c] focus:outline-none focus:ring-0"
          />
        </label>
        <label for="password" class="flex flex-col"> Contraseña
            <input
              id="password"
              type="password"
              placeholder="Contraseña"
              required
              class="form-input w-full rounded-xl bg-[#e7edf4] p-4 text-base text-[#0d141c] placeholder:text-[#49719c] focus:outline-none focus:ring-0"
            />
        </label>
        <label for="password" class="flex flex-col">Confirmar contraseña
            <input
              id="password"
              type="password"
              placeholder="Confirmar Contraseña"
              required
              class="form-input w-full rounded-xl bg-[#e7edf4] p-4 text-base text-[#0d141c] placeholder:text-[#49719c] focus:outline-none focus:ring-0"
            />
        </label>
        <button
          type="submit"
          class="w-full rounded-xl bg-[#0d7cf2] py-3 text-base font-bold text-white"
        >
          Registrarse
        </button>
        <a href="login" class="text-sm text-[#49719c] underline">Ya tienes una cuenta? Inicia sesión</a>
      </form>
    </div>
  </div>
  